# How to concatenate correctly
I will need a small example to understand and see that it works the way I intent it to

In [4]:
import pandas as pd
from pandas import Series, DataFrame

In [5]:
df1=DataFrame({'x':[1,1,1]}, index=['A','B','C'])
df1

   x
A  1
B  1
C  1

In [6]:
df2=DataFrame({'y':[2,2,2]}, index=['B','C','D'])
df2

   y
B  2
C  2
D  2

## Concatenation
The Pandas function takes a list of DataFrames to work on and by default it will attempt using axis 0, or the vertical axis for this operation.

In [9]:
pd.concat([df1,df2])

    x   y
A   1 NaN
B   1 NaN
C   1 NaN
B NaN   2
C NaN   2
D NaN   2

In this case I was looking for concatenating in the other direction, which is done with the $axis$ argument.

In [7]:
pd.concat([df1,df2], axis=1)

    x   y
A   1 NaN
B   1   2
C   1   2
D NaN   2